*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: #505050;
  font-family: "Lato", sans-serif;
  line-height: 28px;
  font-style: 16px;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section-line {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}
.container-content {
  max-width: 970px;
  margin: 0 auto;
}
.title {
  font-family: Georgia;
  font-size: 32px;
  line-height: 38px;
  color: #4e5665;
  text-align: center;
  font-weight: 400;
}
.header__top {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 40px;
}
.header__top-inner {
  border: 2px solid #ecb84c;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  font-family: Georgia;
}
.header__title {
  font-weight: 700;
  font-size: 200px;
  line-height: 227px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  margin: auto;
}
.header__text {
  font-size: 24px;
  line-height: 27px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-bottom: -12px;
}
.header__text::after,
.header__text::before {
  content: "";
  border-top: 2px solid #ecb84c;
  width: 100%;
}
.header__text::after {
  margin-left: 30px;
}
.header__text::before {
  margin-right: 30px;
}
.menu {
  border-bottom: 1px solid rgba(208, 212, 216, 0.5);
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__list-link {
  padding: 24px 10px 20px;
  font-size: 14px;
  line-height: 19px;
  color: #909090;
  margin: 0 6px;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.menu__list-link:hover {
  color: #4e5665;
  border-bottom: 4px solid #ecb84c;
}

.reason {
  padding: 80px 0 0;
}

.reason__title {
  margin-bottom: 22px;
}

.reason__link {
  text-align: right;
}
.reason__link a {
  font-weight: 700;
  color: #ecb84c;
  margin-bottom: 36px;
}
.reason__statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.reason__statistics-num {
  font-size: 22px;
  line-height: 30px;
  color: #4e5665;
  font-weight: 700;
  margin-top: 17px;
}
.reason__statistics-text {
  font-size: 14px;
  line-height: 17px;
  color: #909090;
}

.about {
  padding: 80px 0 0;
}
.about__title {
  margin-bottom: 13px;
}
.about___text {
  margin-bottom: 72px;
}
.about__item {
  margin-bottom: 100px;
  padding: 70px 0;
  background-repeat: no-repeat;
  background-position: right;
}
.about__box {
  padding: 33px 40px 18px;
  background-color: #fff;
  max-width: 470px;
  position: relative;
}
.about__box::after,
.about__box::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
}
.about__box::before {
  background-image: url(../images/decor-left.svg);
  top: 19px;
  left: 19px;
}
.about__box::after {
  border-bottom: 2px solid #ecb84c;
  border-right: 2px solid #ecb84c;
  right: 19px;
  bottom: 19px;
}
.about__box-title {
  font-family: Georgia;
  color: #4e5665;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 20px;
}
.about__item:nth-child(even) {
  background-position: left;
}
.about__item:nth-child(even) .about__box {
  margin-left: auto;
}
.photo {
  padding: 80px 0;
}
.photo__title {
  margin-bottom: 42px;
}
.photo__text {
  padding-bottom: 48px;
  margin-bottom: 56px;
  position: relative;
}
.photo__text::after {
  content: "";
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: rgba(208, 212, 216, 0.5);
  bottom: 0px;
  left: 0;
  right: 0;

  margin: 0 auto;
}
.photo__slider {
  max-width: 640px;
  margin: 0 auto;
}
.slick-arrow {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #ecb84c;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  outline: none;
}
.slick-prev {
  left: -20px;
}
.slick-next {
  right: -20px;
}

.about__preview-title {
  margin-bottom: 38px;
}
.about__preview-text {
  margin: 53px auto 80px;
}
.about__preview-box {
  padding-top: 73px;
  position: relative;
}
.about__dot {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgba(236, 184, 76, 0.75);
  position: absolute;
  cursor: pointer;
}

.about__dot::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffd600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__dot::before {
  display: none;
  content: "";
  position: absolute;
  background-image: url(../images/line.svg);
  width: 244px;
  height: 122px;
  top: -113px;
  left: 25px;
}
.about__dot:hover::before {
  display: block;
}
.about__dot:hover .about__dot-text {
  display: block;
}
.about__dot--1 {
  top: 190px;
  left: 148px;
}
.about__dot--2 {
  top: 188px;
  left: 495px;
}
.about__dot--3 {
  top: 147px;
  right: 374px;
}
.about__dot--4 {
  bottom: 28px;
  right: 299px;
}
.about__dot-text {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  top: -140px;
  left: 150px;
  white-space: nowrap;
}

.footer {
  padding: 55px 0 32px;
  background-color: #f8f8f8;
}
.footer__items {
  display: flex;
  justify-content: space-between;
}
.footer__item-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #4e5665;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer__copy {
  padding-top: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
}
.footer__item-link {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 8px;
}
.footer__item {
  width: 140px;
}
.footer__item--blog {
  width: 300px;
}
.footer__item--company {
  width: 300px;
  padding-left: 180px;
}
.footer__item-link--social {
  padding-left: 28px;
  position: relative;
}
.footer__item-link--social::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
}
.footer__item--link--message::before {
  background-image: url(../images/message.svg);
  width: 17px;
  top: 1px;
}
.footer__item--link--facebook::before {
  background-image: url(../images/facebook.svg);
}
.footer__item--link--instagram::before {
  background-image: url(../images/instagram.svg);
}
.footer__item--link--youtube::before {
  background-image: url(../images/youtube.svg);
}
.footer__item--link--email::before {
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;

  top: 2px;
}
.menu {
  position: relative;
}
.menu__btn {
  display: none;
  width: 40px;
  position: absolute;
  right: 40px;
  top: 10px;
}
.menu__btn span {
  display: block;
  margin-bottom: 10px;
  background-color: #ecb84c;
  cursor: pointer;
  height: 4px;
}
.about__preview-box img {
  max-width: 100%;
}
@media (max-width: 1100px) {
  .container-content {
    padding: 0 15px 50px;
  }
  .photo__text::after {
    bottom: -20px;
  }
}
@media (max-width: 1075px) {
  .about__dot--1 {
    top: 140px;
    left: 75px;
  }
  .about__dot--2 {
    top: 188px;
    left: 340px;
  }
  .about__dot--3 {
    top: 133px;
    right: 260px;
  }
  .about__dot--4 {
    bottom: 28px;
    right: 200px;
  }
  .footer__item--company {
    width: 140px;
    padding-left: 0;
  }
  .footer__items {
    padding: 0 15px;
  }
}

@media (max-width: 840px) {
  .about__preview-box {
    padding-top: 0;
  }
  .about__dot {
    display: none;
  }
  .about__box {
    margin: 0 auto;
  }
  .about__item {
    padding: 382px 0 70px;
    background-position: top;
    margin-bottom: 0;
  }
  .about__item:nth-child(even) {
    background-position: top;
  }
  .footer__items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__item {
    margin: 15px auto;
  }
}
@media (max-width: 700px) {
  .header__title {
    font-size: 120px;
    line-height: 150px;
  }
  .header__text {
    font-size: 20px;
  }
  .menu__btn {
    display: block;
    cursor: pointer;
  }
  .menu__list {
    display: none;
    padding-top: 60px;
    text-align: center;
    border-bottom: 4px solid #ecb84c;
  }
  .menu__list a {
    display: block;
    border-top: 4px solid #ecb84c;
  }
  .menu__list-link:hover {
    border-bottom: 4px solid transparent;
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 20px;
  }
  .photo__slider {
    padding: 0 15px;
  }
}

@media (max-width: 540px) {
  .slick-arrow {
    display: none;
  }
  .header__text {
    display: none;
  }
  .header__top-inner {
    border-bottom: 2px solid #ecb84c;
  }
  .header__top {
    padding: 10px;
  }
  .header__title {
    font-size: 100px;
  }
  .title {
    font-size: 24px;
    line-height: 28px;
  }

  body {
    font-size: 15px;
    line-height: 24px;
  }

  .reason__statistics {
    display: block;
  }
  .reason__statistics-item {
    margin-bottom: 30px;
  }
}
@media (min-width: 700px) {
  .menu__list {
    display: flex !important;
  }
}
